<!DOCTYPE html>
<html>
<head>
<title>
    Help page
</title>
<script src="/js/main.js"></script>
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/weather.png">
</head>
<body>
    <div class="main-content">
         {{>header}}
        <p> {{helpMessage}}</p>
    </div>
       
        {{>footer}}
</body>


</html>